LOG_LEVEL=
HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=
API_PORT=18080

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=
POSTGRES_FORWARD_PORT=
POSTGRES_SSL_MODE=disable

RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_FORWARD_PORT=
RABBIT_MQ_MANAGEMENT_PORT=
RABBIT_MQ_USER=
RABBIT_MQ_PASS=

LOG_FOLDER=

OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
OTEL_EXPORTER_TIMEOUT=5s
JAEGER_UI_PORT=16686

PRODUCT_API_BASE_URL=
PRODUCT_API_BEARER_TOKEN=
PRODUCT_API_TIMEOUT=60s
PRODUCT_API_INSECURE_SKIP_VERIFY=false

WORKSHEETS_EXPORT_SOURCE=lk_mariadb
LK_MARIADB_HOST=
LK_MARIADB_PORT=3306
LK_MARIADB_DATABASE=
LK_MARIADB_USER=
LK_MARIADB_PASSWORD=

PROCESSING_MAX_ATTEMPTS=3
PROCESSING_RETRY_BACKOFF=1s

MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_PORT=
