LOG_LEVEL=
HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=
API_PORT=18080

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=
POSTGRES_FORWARD_PORT=
POSTGRES_SSL_MODE=disable

RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_FORWARD_PORT=
RABBIT_MQ_MANAGEMENT_PORT=
RABBIT_MQ_USER=
RABBIT_MQ_PASS=

LOG_FOLDER=

PRODUCT_API_BASE_URL=
PRODUCT_API_BEARER_TOKEN=
PRODUCT_API_TIMEOUT=60s
PRODUCT_API_INSECURE_SKIP_VERIFY=false

MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_PORT=
